* {
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.connections--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: 1rem;
  gap: 1rem;
}